

main{
width: 100%;
height:2000px ;
top: 50px;
position: relative;
}

main .content-main{

    width: 70%;
    height:2000px ;
display: flex;
margin: 0 auto;
position: relative;
}





.content-main .main-user{

    width: 30%;
position: absolute;
right: 0;
height: 100%;
}



.main-user .content{
    position: fixed;
    width: 23.5%;
height: 70%;
top: 50%;
transform: translateY(-50%);
overflow: hidden;
padding: 10px;
margin-left: 10px;

}



.content .my-profile{
display: flex;
background: rgb(255, 255, 255);
position: relative;

}




.my-profile .my-img{
    width: 55px;
    height: 55px;
cursor: pointer;
border-radius: 50%;
}


.my-profile .my-img img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}



.my-profile  .content-us{
 width: 50%;
align-self: center;
margin-left: 10px;

}
.my-profile .username-profile{

cursor: pointer;
font-size: 15px;
    color: rgb(38, 38, 41);
font-weight: 600;
}

.my-profile .my-name{
text-transform: capitalize;
margin-top: 5px;
font-size: 12px;
color: rgb(164, 167, 177);
}


.my-profile .btn-last-card{
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 13px;
}
.btn-last-card span{
color: #0095f6;
text-decoration: none;
cursor: pointer;
}



/*  */
.content .sugg-users{
margin-top: 20px;


}

.sugg-users .head-sugg{

margin: 15px 0;
display: flex;
justify-content: space-between;
color: rgb(87, 85, 83);
font-size: 12px;
}


.content .sugg-users .content-sugg .card-sugg{
    display: flex;
    margin-top: 1px;
    padding: 10px 0;

    position: relative;
}

.card-sugg .sugg-img{

width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

}
.card-sugg .sugg-img img{ 

    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    }
    



    .card-sugg  .info-sugg{
        width: 50%;
       align-self: center;
       margin-left: 10px;
       
       }
       .info-sugg .username-profile{
       
       cursor: pointer;
           color: rgb(38, 38, 41);
       font-weight: 600;
       font-size: 12px;
       }
       
       .info-sugg .my-name{
       text-transform: capitalize;
       margin-top: 5px;
       font-size: 11px;
       color: rgb(164, 167, 177);
       }
       

.card-sugg .sugg-btn-last-card{

    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 14px;
color: #0095f6;
text-decoration: none;
cursor: pointer;
}







.company-info{

position: fixed;
bottom: 80px;
width: 300px;
margin-left: 30px;
}

.company-info .company-help a{
font-size: 11px;
color: rgb(167, 170, 177);

text-decoration: none;

}


.company-info .c{
    margin-top: 10px;
    font-size: 11px;
color: rgb(167, 170, 177);
}
